@import "styles/shared.module.scss";

.item {
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  color: var(--yellow-green-color);
}

.itemSpan {
  color: var(--secondary-text-color);
}
